# Some editions argument for specifc videos
ELEVENLABS_API_KEY=some-cool-api-key 
INTRO_JUMPER_MIN_START_TIME=60
CROP_ALIGNMENT='center'

# Allways use local cache
CACHE_DIR=audio_cache

STORAGE_BACKEND=tigris # or filesystem for local storaeg

TIGRIS_INPUT_BUCKET=some-cool-input-bucket
TIGRIS_OUTPUT_BUCKET=some-cool-output-bucket

# Fill if using tigris for storage backend
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL_S3=
AWS_ENDPOINT_URL_IAM=
AWS_REGION=

# This defines the expiration of the URL, allowing direct bucket download
PRESIGNED_URL_EXPIRES_IN_SECONDS=60

# Fill if using fileystem for storage
FILESYSTEM_INPUT_PATH=inputs
FILESYSTEM_OUTPUT_PATH=outputs


# Enable if in production
# MASTER_KEY= SomeCool master key
PRODUCTION=False