.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

audio_cache/
**.wav
**.srt

.vscode/
**.mp4
**.png
output_videos_to_clone/
**.ass
dialogues.json
characters.json

input_storage/

.env.fly
fly.toml